.form {
    margin-top: 20px;
}

.content{
    margin: 3px;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.content-container{
    width: 100%;
    height: 50px;
}

.entry-created {
    text-align: right;
}

.radio-check {
    margin-left: 10px;
}
